<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to SAY, <%= @user.name %></h1>
    <p>
      Thank you for submitting to Stanford Anthology For Youth<br>
      This year we are employing a new system to keep track of all submissions.  We have created an account for you here where you can check the status of your submissions.<br>
      For now, you are registered under the email at which you are receiving this and the following temporary password: <strong><%= @user.temp_pw %></strong><br>
      After you login, you may change your email or password by clicking on the "My Account" link at the top of the page.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.  
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>