<h2>Submitters</h2>
<% if @submitters.any? %>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>School</th>
      <th>Teacher</th>
    </thead>
    <tbody>
      <% @submitters.each do |submitter| %>
        <tr>
          <td class="col-md-4"><%= link_to submitter.name, user_path(submitter) %></td>
          <td class="col-md-4"><%= submitter.email %></td>
          <td class="col-md-2"><%= submitter.school %></td>
          <td class="col-md-2"><%= submitter.teacher %></td>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>No submitters.</p>
<% end %>
