<% if current_submitter %>
    <div class="jumbotron">
      <h1>Welcome, <%= current_user.first_name %>!</h1>
    </div>
  <% if can? :create, Document %>
    <div>
      <h2>Submission Guidelines:</h2>
      <p> All submissions must be recieved no later than <strong>January 10, 2016 at 11:59 PM</strong>.  Please submit <strong>no more than TWO pieces of writing and THREE pieces of art</strong>.  Show us your very best work!  Written submissions should be in a .doc, .docx, or .pdf file.  Art should be uploaded as high-quality JPEG files. Art may be sent in color or in black and white.<br><br>Note: By submitting, you give SAY permission to publish your work in the print anthology as well as online and to do minimal amounts of editing.</p>
    </div>
    <%= link_to 'Upload Written Submission', new_document_path, class: 'btn btn-lg btn-success' %>
    <%= link_to 'Upload Artwork', new_artwork_path, class: 'btn btn-lg btn-primary right' %>
  <% end %>

<% end %>

<% if current_editor || current_admin %>
  <p>Your approval is pending.  Please check back soon.</p>
<% end %>
