<% if current_user %>
  <div class="jumbotron">
    <h1>Welcome, <%= current_user.first_name %>!</h1>
  </div>
  <%= link_to 'Upload Written Submission', new_document_path, class: 'btn btn-lg btn-success' %>
  <%= link_to 'Upload Artwork', new_artwork_path, class: 'btn btn-lg btn-primary' %>
<% end %>
