.right {
  float: right;
}

.center {
  text-align: center;
}

.weak {
  color: #B5B5B5;
}

.bottom-margin {
  margin-bottom: 30px !important;
}

.form-button {
  margin-right: 200px;
}

.centered-img {
  display: block;
  margin: auto;
}

form.say-form {
  width: 500px;
  margin: auto;
}

.login-body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

